<form #createForm="ngForm" (ngSubmit)="createNewCity(createForm)">
  <table>
    <tr>
      <th>Name</th>
      <td><input  type="text" name="name" #name="ngModel" minlength="4" required [(ngModel)]="city.name"></td>
      <td *ngIf="createForm.invalid && isSubmitted">
        <p *ngIf="name.errors?.required">Can not blank</p>
        <p *ngIf="name.errors?.minlength">At least 4 character</p>
      </td>
    </tr>
    <tr>
      <th>Country</th>
      <td>
        <select name="country" [(ngModel)]="city.country">
          <option [value]="undefined">Select country</option>
          <option  *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Area</th>
      <td><input type="text" name="area" [(ngModel)]="city.area"></td>
    </tr>
    <tr>
      <th>Population</th>
      <td><input type="text" name="population" [(ngModel)]="city.population"></td>
    </tr>
    <tr>
      <th>GDP</th>
      <td><input type="text" name="GDP" [(ngModel)]="city.gdp"></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><textarea name="description" [(ngModel)]="city.description"></textarea></td>
    </tr>
    <tr>
      <th>Image</th>
      <td><input name="image" [(ngModel)]="city.image"></td>
    </tr>

    <tr>
      <td></td>
      <td>
        <button>Create</button>
      </td>
    </tr>
  </table>
</form>
