<div id="formEdit">
<form (ngSubmit)="editCityById(city.id)">
  <table>
    <tr>
      <th>Name:</th>
      <td><input name="name" [(ngModel)]="city.name"></td>
    </tr>
    <tr>
      <th>Country:</th>
      <td>
        <select name="country" [(ngModel)]="city.country">
          <option *ngFor="let country of countries" [value]="country.id"
                  [selected]="country.name === country.name">{{country.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Area:</th>
      <td><input name="area" [(ngModel)]="city.area"></td>
    </tr>
    <tr>
      <th>Population:</th>
      <td><input name="population" [(ngModel)]="city.population"></td>
    </tr>
    <tr>
      <th>GDP:</th>
      <td><input name="gdp" [(ngModel)]="city.gdp"></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><textarea name="description" [(ngModel)]="city.description"></textarea></td>
    </tr>
    <tr>
      <th>Image</th>
      <td><input type="file" #preview (change)="showPreview($event)"></td>
    </tr>
    <tr>
      <td></td>
      <th>
        <button>Edit</button>
      </th>
    </tr>
  </table>
</form>
</div>
<div id="imageEdit"><td><img width="300px" height="300px" [src]="imgSrc" (click)="preview.click()"></td></div>
