<h1>City Detail</h1>
<a routerLink="/cities">Back to City List</a>
  <table>
    <tr>
      <td>Name: </td>
      <td><input name="name" [(ngModel)]="city.name"></td>
    </tr>
    <tr>
      <td>Country: </td>
      <td><input name="country" [(ngModel)]="city.country.name"></td>
    </tr>
    <tr>
      <td>Area: </td>
      <td><input name="area" [(ngModel)]="city.area"></td>
    </tr>
    <tr>
      <td>Population: </td>
      <td><input name="population" [(ngModel)]="city.population"></td>
    </tr>
    <tr>
      <td>GDP: </td>
      <td><input name="gdp" [(ngModel)]="city.gdp"></td>
    </tr>
    <tr>
      <td>Description: </td>
      <td><textarea name="description" [(ngModel)]="city.description"></textarea></td>
    </tr>
  </table>
